/*
/*/

!/.gitignore
!/NEWS.md
!/README.md
!/update_news.sh
!/config/
!/deploy_headless/
!/deploy_rstudio/

!/.github
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/*.yml

!/Dockerfiles/
/Dockerfiles/*
!/Dockerfiles/mrds_base_j.dockerfile
!/Dockerfiles/mrds_headless_j.dockerfile
!/Dockerfiles/mrds_rstudio_j.dockerfile
!/Dockerfiles/mrds_final_j.dockerfile

!/.env
!/build_mrds.sh
!/docker-compose.yml
!/start_mrds.sh
!/stop_mrds.sh


## Ignore all log-related files:
**/*[Ll]og*
**/*.log
